<%- include('./head') %>

  <body>
    <h1>Squadpage</h1>

    <a href="ervaring0-jaar" div class="ervaring-0">0 jaar ervaring</div>
      <a href="ervaring1-jaar" div class="ervaring-1">1 jaar ervaring</div>
        <a href="ervaring2-jaar" div class="ervaring-2">2 jaar ervaring</div>
          <a href="ervaring3-jaar" div class="ervaring-3">3 jaar ervaring</div>
            <a href="ervaring4-jaar" div class="ervaring-4">4 jaar ervaring</div>

  </body>

  </html>

  <%- include('./foot') %>