<%- include('./head') %>

  <body>
      <h1>Squadpage</h1>
      
      <div class="ervaring-0">0 jaar ervaring</div>
      <div class="ervaring-1">1 jaar ervaring</div>
      <div class="ervaring-2">2 jaar ervaring</div>
      <div class="ervaring-3">3 jaar ervaring</div>
      <div class="ervaring-4">4 jaar ervaring</div>
      <div class="ervaring-5+">5+ jaar ervaring</div>

  </body>

  </html>

  <%- include('./foot') %>