<%- include('./head') %>

  <body>
      <h1>Squadpage</h1>
      
      <a href="ervaring0-jaar.ejs" div class="ervaring-0">0 jaar ervaring</div>
      <a href="ervaring1-jaar.ejs" div class="ervaring-1">1 jaar ervaring</div>
      <a href="ervaring2-jaar.ejs" div class="ervaring-2">2 jaar ervaring</div>
      <a href="ervaring3-jaar.ejs" div class="ervaring-3">3 jaar ervaring</div>
      <a href="ervaring4-jaar.ejs" div class="ervaring-4">4 jaar ervaring</div>
      <a href="ervaring5-jaar.ejs" div class="ervaring-5">5+ jaar ervaring</div>

  </body>

  </html>

  <%- include('./foot') %>