* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --white: #ffffff;
  --black: #000;
}

body {
  background: var(--black);
}


h1 {
  color: var(--white);
  background-color: #303030;
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  padding-bottom: 1rem;
  text-align: center;
}

.ervaring-0,
.ervaring-1,
.ervaring-2,
.ervaring-3,
.ervaring-4,
.ervaring-5 {
  position: absolute;
  border-radius: 15em;
  background-color: rgb(147, 14, 107);
  color: var(--white);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}


.ervaring-0 {
  right: 10em;
  top: 5em;
  width: 15em;
  height: 15em;
  animation: moveAroundCircle1 120s infinite linear;
  animation-delay: 0.3s;
}

.ervaring-1 {
  right: 20em;
  top: 35em;
  width: 2.5em;
  height: 2.5em;
  animation: moveAroundCircle2 120s infinite linear;
}

.ervaring-2 {
  right: 5em;
  top: 20em;
  width: 5em;
  height: 5em;
  animation: moveAroundCircle3 120s infinite linear;
}

.ervaring-3 {
  right: 10em;
  top: 20em;
  width: 7.5em;
  height: 7.5em;
  animation: moveAroundCircle4 120s infinite linear;
}


.ervaring-4 {
  right: 0em;
  top: 30em;
  width: 10em;
  height: 10em;
  animation: moveAroundCircle5 120s infinite linear;
}




/* Keyframes for animation */
@keyframes moveAroundCircle1 {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translate(10em, 5em);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes moveAroundCircle2 {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translate(10em, -5em);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes moveAroundCircle3 {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translate(10em, -10em);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes moveAroundCircle4 {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translate(-5em, 5em);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes moveAroundCircle5 {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translate(-10em, 5em);
  }

  100% {
    transform: translate(0);
  }
}

section {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article {
  position: relative;
  width: 15rem;
  height: 10rem;
  margin: 1rem;
  padding: 1rem;
  color: var(--white);
  text-align: center;
  background: rgb(176, 125, 161);
  border-radius: 2rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
  border: 1px solid rgba(255, 255, 255, 0.27);
}

article h2 {
  font-size: 1rem;
  font-weight: normal;
}

article img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

article a {
  position: absolute;
  top: 0;
  left: 0;
  width: 10rem;
  height: 10rem;
  border-radius: 2rem;
  display: block;
}

h2 {
  color: var(--white);
}

/* Media queries */
/* 
.ervaring-0,
.ervaring-1,
.ervaring-2,
.ervaring-3,
.ervaring-4,
.ervaring-5 {
  position: absolute;
  width: 5em;
  height: 5em;
  border-radius: 15em;
  background-color: blueviolet;
  top: 15em;
  right: 30em;
  color: var(--white);
  text-align: center;
}


.ervaring-0 {
  animation: moveAroundCircle1 120s infinite linear;
  animation-delay: 0.3s;
}

.ervaring-1 {
  right: 40em;
  top: 50em;
  animation: moveAroundCircle2 120s infinite linear;
}

.ervaring-2 {
  right: 40em;
  top: -15em;
  animation: moveAroundCircle3 120s infinite linear;
}

.ervaring-3 {
  right: 5em;
  top: -15em;
  animation: moveAroundCircle4 120s infinite linear;
}


.ervaring-4 {
  right: -10em;
  top: 30em;
  animation: moveAroundCircle5 120s infinite linear;
}

.ervaring-5 {
  left: -5em;
  top: -10em;
  animation: moveAroundCircle6 120s infinite linear;
} */



/* Keyframes for animation */
/* @keyframes moveAroundCircle1 {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translate(-20em, -10em);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes moveAroundCircle2 {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translate(50em, -10em);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes moveAroundCircle3 {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translate(-30em, 7.5em);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes moveAroundCircle4 {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translate(10em, 10em);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes moveAroundCircle5 {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translate(-20em, -20em);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes moveAroundCircle6 {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translate(5em, 5em);
  }

  100% {
    transform: translate(0);
  }
} */